.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 53px;
  border-bottom: 1px solid var(--c-border-color);
  padding-left: 15px;
  padding-right: 15px;
  position: sticky;
  top: 0;
}

.theme {
  color: var(--c-theme);
}
