.main {
  /* background-color: grey; */
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-color: var(--c-border-color);
}

@media only screen and (min-width: 990px) {
  .main {
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.content {
  position: sticky;
  top: 0;
}
