/* box-shadow: rgba(0, 0, 0, 0.02) 0px 0px 2px inset; */
.modal {
  /* background-color: var(--c-primary);
  max-width: 250px;
  margin: 30px;
  padding: 20px;
  border-radius: 14px;
  border: 1px solid var(--c-border-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  box-shadow: 0 10px 5px 5px rgba(0, 0, 0, 0.2); */
}
