.searchBar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--c-bg-primary);
  border-radius: 9999px;
  border: 1px solid var(--c-border-color);
}

.searchBar input {
  height: 40px;
  outline: none;
  background-color: transparent;
  padding-left: 10px;
  color: var(--c-text-color);
  width: 100%;
  cursor: text;
}

.icon svg {
  font-size: 18px;
  color: var(--c-gray);
}

.searchBar:focus-within {
  background: transparent;
  border: 1px solid var(--c-theme-10);
}

.searchBar::placeholder {
  color: var(--c-grey);
}
