.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
}

/* theme lihgt oldugunda modal arka planı duzelecek */
.overlay:global(html.light) .overlay {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.overlay:global(html.light) {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.modal {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--c-border-color);
  background-color: var(--c-primary);
  border-radius: 20px;
  box-shadow: 0 10px 5px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 600px;
  min-height: 200px;
  position: relative;
}

.header {
  padding: 5px;
  /* background-color: aqua; */
  border-bottom: 1px solid var(--c-theme-10);
}
.close {
  color: var(--c-gray);
}

.body {
  display: grid;
  gap: 15px;
  grid-template-areas: "avatar content";
  grid-template-columns: 50px 1fr;
  padding: 30px;
}
.avatar {
  grid-area: avatar;
}
.content {
  grid-area: content;
}

.textarea {
  resize: none;
  background-color: transparent;
  outline: 0;
  color: var(--c-text-color);
  font-size: 19px;
  width: 100%;
  display: block;
  border-bottom: 1px solid var(--c-theme-10);
}

.footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iconBar {
  margin-left: -8px;
  display: flex;
  align-items: center;
}
.iconBar svg {
  font-size: 20px;
}
.iconBar .media {
  color: var(--c-theme);
}
