.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
}

/* theme lihgt oldugunda modal arka planı duzelecek */
.overlay:global(html.light) .overlay {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.overlay:global(html.light) {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.modal {
  display: grid;
  grid-template-areas: "avatar body";
  grid-template-columns: 50px 1fr;
  gap: 15px;
  padding: 30px;
  border-bottom: 1px solid var(--c-border-color);
  background-color: var(--c-primary);
  border-radius: 20px;
  box-shadow: 0 10px 5px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 600px;
  min-height: 200px;
  position: relative;
}

.avatar {
  grid-area: avatar;
  margin-top: 20px;
}

.body {
  grid-area: body;
  margin-top: 20px;
}

.content {
  margin-bottom: auto;
}

.textarea {
  resize: none;
  background-color: transparent;
  outline: 0;
  color: var(--c-text-color);
  font-size: 19px;
  width: 100%;
  display: block;
}

.footer {
  /* margin-top: 120px; */
  display: flex;
  justify-content: flex-end;
}

.close {
  color: var(--c-gray);
  position: absolute;
  top: 10px;
  right: 10px;
}
